@import '../../scss/params';

.information-box {

    .info-post-title {
        font-weight: bold;
        height: 43px;
    }

    .info-post-content {
    }

    & > div {
        padding: $spacing-S;
    }
}