<html>

    <head>
        <meta charset="utf-8">
	    <base href="/" target="_blank">
        {% for css_link in css_links %}
            <link rel="stylesheet" media="screen" href="{{css_link}}">
        {% endfor %}

        <link href="public/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
        <script type="text/javascript" src="public/bigpipe.js"></script>
        <script type="text/javascript" src="jsi18n"></script>

        <script type="text/javascript" src="public/lib/react.js"></script>
        <script type="text/javascript" src="public/lib/react-dom.js"></script>
        <script type="text/javascript" src="public/lib/create-react-class.js"></script>
    </head>
    <body>

        <div id="pagelet_top_blue_bar" class="pagelet-relative">
            <div id="pagelet_top_blue_bar_time" class="pagelet-timer"></div>
        </div>
        <div class="main-content tbl-flds">

            <div class="main-content-left">
                <div id="pagelet_navigation_menu" class="pagelet-relative">
                    <div id="pagelet_navigation_menu_time" class="pagelet-timer"></div>
                </div>
            </div>
            <div class="main-content-center">
                <div id="pagelet_news_feed" class="pagelet-relative">
                    <div id="pagelet_news_feed_time" class="pagelet-timer"></div>
                    {% for i in 'x'|rjust:"10" %}
                    <div style="background: #fff; padding: 10px; height: 100px; margin-bottom: 10px; display: flex;">
                        <div class="animated-image"></div>
                        <div class="animated-text">
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="main-content-right">
                <div id="pagelet_information_boxes" class="pagelet-relative">
                    <div id="pagelet_information_boxes_time" class="pagelet-timer"></div>
                    {% for i in 'x'|rjust:"3" %}
                    <div style="background: #fff; padding: 10px; height: 200px; margin-bottom: 10px;">
                        <div class="animated-text">
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                            <div class="animated-text-line"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="pagelet_chat"></div>
        </div>

        <h1>all images are from <a href="https://www.freeimages.com/">https://www.freeimages.com/</a></h1>

        {% for js_link in js_links %}
        <script type="text/javascript" src="{{js_link}}"></script>
        {% endfor %}
        <script>
            (function(){
                setTimeout(function() {startTimer({{data|safe}});})
            }());
        </script>
