@import '../../scss/params';

.chat {
    width: 299px;
    height: 40px;
    position: fixed;
    bottom: -1px;
    right: 30px;
    padding: 5px 12px;
    background: white;
    line-height: 30px;
    border: 1px solid $color-grey-5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}